flask_mail
# bokeh==1.0.1
requests==2.20.0
Flask==2.3.2
psycopg2==2.7.6.1
# flask-talisman==0.7.0
records==0.5.2
# pandas==0.23.4
# matplotlib==3.0.2
redis==3.3.11
Flask-Session==0.3.1
APScheduler==3.6.1
sendgrid==6.1.0