
/* body 
{
    margin: auto 10px;
    width: auto;
    height: auto;
    background-color:#385252
}
#modaltitle
{
    text-align: center
}



.maincolumns{
    padding: 10px;
} */

