{% extends "base.html" %}

{% block logbtn %}
<li class="nav-item">
    <form action="{{ url_for('logout')  }}" method="GET" >
        <button type="submit" class="btn btn-dark">Logout</button>
    
    </form>

</li>
{% endblock %}
{% block settings %}

    <form action="{{ url_for('managesettings')  }}" method="GET" >
        <button type="submit" class="btn custbtn-drk">Settings</button>
    
    </form>

{% endblock %}
{% if companycount >0 %}
    {% block addbill %}
    <form action="{{ url_for('addbill')  }}" method="GET" >
            <button type="submit" class="btn custbtn-drk">New Bill</button>
        
        </form>
    {% endblock %}
{% endif %}



{% block addcompany %}
<form action="{{ url_for('addcompany')  }}" method="GET" >
        <button type="submit" class="btn custbtn-drk">New Company</button>
    
    </form>
{% endblock %}

{% block content %}

<div class="container text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Due Date</th>
                <th>Amount</th>
                <th>Edit</th>
                <th>Paid?</th>
                
            </tr>
        </thead>
        {% for bill in billdata %}
        <tbody>
            <tr>
                
                <td> {{ bill.companyname }} </td>
                <td>{{ bill.duedate }}</td>
                <td> {{ bill.amt }} </td>
                <td>
                    <form action="{{ url_for('editbill',billid=bill.billid) }}" method="GET" >
                            <button type="submit" class="btn custbtn-drk">Edit</button>
                        
                        </form>
                                          

                </td>
                <td><div id="paidswitch"></div></td> 
                <!-- TODO^^^ -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    </div>
</div>
{% endblock %}