{% extends "base.html" %}

{% block addcompany %}
<a class="navbar-item button is-primary" href="{{ url_for('addcompany') }}">
        <!-- AddCompany -->
        Add Company
    </a>
    {% endblock %}


{% block addbill %}
{% if companycount >0 %}

<a class="navbar-item button is-primary" href="{{ url_for('addbill')  }}">Add Bill</a>
{% else %}
{{ super() }}
{% endif %}
{% endblock %}


{% block logout %}

        <a class="navbar-item button is-light" href="{{ url_for('logout')  }}">
                Logout
            </a>
{% endblock %}

{% block content %}

<div class="columns" id="maincolumns">
        <div class="column custcolumn" id="leftcolumn"></div>
    <div class="column is-half">
    <table class="table is-hoverable">
        <thead>
            <tr>
                <th>Company</th>
                <th>Due Date</th>
                <th>Amount</th>
                <th>Edit</th>
                <th>Paid?</th>

            </tr>
        </thead>
        {% for bill in billdata %}
        <tbody>
            <tr>

                <td> {{ bill.companyname }} </td>
                <td>{{ bill.duedate }}</td>
                <td> {{ bill.amt }} </td>
                <td>
                    
                    <a href="{{ url_for('editbill',billid=bill.billid) }}" class="button is-primary">Edit</a>

                </td>
                <td>
                    <div id="paidswitch"></div>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('deletebill',billid=bill.billid) }}">
                        <button class="delete"></button>
                    </form>

                </td>
                <!-- TODO^^^ -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- half-size column end -->
    </div>
    <div class="column custcolumn" id="rightcolumn"></div>
</div>

{% endblock %}