{% extends "base.html" %}




{% block addbill %}
{% if companycount >0 %}

<a class="button is-primary" href="{{ url_for('addbill')  }}">Add Company</a>
{% else %}
{{ super() }}
{% endif %}
{% endblock %}




{% block content %}

<div class="container text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Due Date</th>
                <th>Amount</th>
                <th>Edit</th>
                <th>Paid?</th>

            </tr>
        </thead>
        {% for bill in billdata %}
        <tbody>
            <tr>

                <td> {{ bill.companyname }} </td>
                <td>{{ bill.duedate }}</td>
                <td> {{ bill.amt }} </td>
                <td>
                    <form action="{{ url_for('editbill',billid=bill.billid) }}" method="GET">
                        <button type="submit" class="btn custbtn-drk">Edit</button>

                    </form>


                </td>
                <td>
                    <div id="paidswitch"></div>
                </td>
                <!-- TODO^^^ -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
</div>
{% endblock %}