{% extends "base.html" %}

{% block logbtn %}
<li class="nav-item">
    <form action="{{ url_for('logout')  }}" method="GET" >
        <button type="submit" class="btn btn-dark">Logout</button>
    
    </form>

</li>
{% endblock %}
{% block settings %}
<li class="nav-item">
    <form action="{{ url_for('managesettings')  }}" method="GET" >
        <button type="submit" class="btn custbtn-drk">Settings</button>
    
    </form>
</li>
{% endblock %}

{% block content %}
<form action="" method="POST" role="form">
    <div class="form-group">
      <label for=""></label>
      
        <input type="date"
        class="form-control" name="duedate" id="duedate" aria-describedby="helpId" placeholder="Due Date" value="{{ bill.duedate }}">
        <!-- Replace the above with jquery date picker -->
        <input type="text"
        class="form-control" name="billamt" id="billamt" aria-describedby="helpId" placeholder="$50.45 - Amount" value="{{ bill.amt }}">
        <input type="url"
        class="form-control" name="billurl" id="billurl" aria-describedby="helpId" placeholder="https://paymybill.com" value="{{ bill.paymenturl }}">
        <input type="tel"
        class="form-control" name="billtel" id="billtel" aria-describedby="helpId" placeholder="555-555-5555" value="{{ bill.phonenum }}">


        <label for='recurring'>Recurring Bill?</label><br>
        {% if bill.recurring %}
        <input type="radio" name="recurring" value="true" checked> Yes<br>
        <input type="radio" name="recurring" value="false"> No<br>
        {% else %}
            <input type="radio" name="recurring" value="true" > Yes<br>
            <input type="radio" name="recurring" value="false" checked> No<br>
        {% endif %}
      
        <button type="submit" class="btn btn-primary">Save</button>
        
        
    </div>
</div>

    
</form>


{% endblock %}