{% extends "base.html" %}
{% block nav %}
                    
{% endblock %}

{% block addcompany %}
                    
{% endblock %}
{% block settings %}
                    
{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        BillTrak
      </h1>
      <h2 class="subtitle">
        Keeping your bills organized&trade;
      </h2>
      <p>BillTrak's goal is to remind you of your bills at your convenience. <br>
        Featuring a fast, simple interface for bill management.
        </p>
        
        <div class="block" style="padding: 10px">
            <a href="/register" class="button is-info is-outlined">Register</a>
            <a href="/login" class="button is-info is-outlined">Login</a>

          
        </div>
        
    </div>
  </div>
</section>




    
    
</div>


{% endblock %}