{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">BillTrak</h1>
            <p class="lead">Keeping your bills organized&trade;</p>
            <hr class="my-2">
            <p>BillTrak's goal is to remind you of your bills at your convenience. <br>
            Featuring a fast, simple interface for bill management.
            </p>
            <p class="lead">
                    <a name="login" id="login" class="btn btn-primary" href="/login" role="button">Login</a>
                    <a name="login" id="login" class="btn btn-primary" href="/register" role="button">Register</a>
            </p>
        </div>
    </div>
    
    
</div>


{% endblock %}