{% extends "base.html" %}
{% block settings %}
                    
{% endblock %}
{% block content %}

<form action="" method="post" role="form">
    <div class="form-group">
        
        
          <label for="userid"></label>
          <input type="text"
            class="form-control" name="userid" id="userid" aria-describedby="helpId" placeholder="Enter UserID">
            <input type="password"
            class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Enter Password">
        



        <button type="submit" class="btn custbtn-drk">Login</button>
    </div>
</form>



{% endblock %}