{% extends "base.html" %}

{% block extrascripts %}
<!-- <script src="{{ url_for('static',filename='js/main.js') }}"></script> -->

{% endblock %}


{% block content %}
<!-- <script type="text/javascript">
   
        let dropdown = $('#companies');

        dropdown.empty()
        dropdown.append('<option selected="true" disabled>Choose a company</option>')
        dropdown.prop('selectedIndex',0);

        url='http://localhost:5002/companies'
        $.getJSON(url, function(data){
            console.log(data);
            $.each(data,function(key, entry){
                console.log(entry.name)
        dropdown.append($('<option></option>').attr('value', entry.name).text(entry.name))
    })
    })
    
    
        
    
    </script> -->
<form action="" method="POST" role="form">
        <div class="form-group">
          <label for=""></label>
            <select name="companyname" class="form-control" id="companies">
                {% for company in data %}
                    <option>{{company.name}}</option>
                {% endfor %}
                

            </select>
            <input type="date"
            class="form-control" name="duedate" id="duedate" aria-describedby="helpId" placeholder="Due Date">
            <!-- Replace the above with jquery date picker -->
            <input type="text"
            class="form-control" name="billamt" id="billamt" aria-describedby="helpId" placeholder="$50.45 - Amount">
            <input type="url"
            class="form-control" name="billurl" id="billurl" aria-describedby="helpId" placeholder="https://paymybill.com">
            <input type="tel"
            class="form-control" name="billtel" id="billtel" aria-describedby="helpId" placeholder="555-555-5555">


            <label for='recurring'>Recurring Bill?</label><br>
            <input type="radio" name="recurring" value="true" checked> Yes<br>
            <input type="radio" name="recurring" value="false"> No<br>
            
        </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    </form>
    <!-- ends content -->
    {% endblock %}

